In [117]:
from bs4 import BeautifulSoup
import requests
import numpy as np

In [118]:
page = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
page

In [119]:
soup = BeautifulSoup(page.content, 'html.parser')
tables = soup.find_all('table')
#tables

In [120]:
len(tables[0].tbody.contents)

578

In [121]:
import pandas as pd

In [122]:
all_zipcds = []

In [123]:
for i in tables[0].tbody.children:
    if i != '\n':
        #print(i.contents)
        zipcds = []
        for j in i.children:
            if j!='\n':
                #print(j.text)
                zipcds.append(j.text.strip())
        all_zipcds.append(zipcds)

In [124]:
df_res = pd.DataFrame(all_zipcds[1:], columns=['Postcode', 'Borough', 'Neighbourhood'])
df_res.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [125]:
df_res.shape

(288, 3)

In [126]:
df_res_dropped = df_res[df_res['Borough'] != 'Not assigned']

In [127]:
df_res_dropped.shape

(211, 3)

In [128]:
df_res_dropped.loc[df_res_dropped['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df_res_dropped.loc[df_res_dropped['Neighbourhood'] == 'Not assigned', 'Borough']

c:\users\hlu82\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
c:\users\hlu82\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [129]:
df_res_dropped[df_res_dropped['Postcode'] == 'M7A']

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Queen's Park

In [130]:
df_res_dropped.shape

(211, 3)

In [131]:
df_res_grouped = pd.DataFrame(df_res_dropped.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x)))

In [132]:
df_res_grouped.shape
df_res_grouped.columns
#x = pd.DataFrame(df_res_grouped.index.tolist())
#x[0]

Index(['Neighbourhood'], dtype='object')

In [133]:
df_res_grouped.reset_index(inplace=True)

In [134]:
df_res_grouped.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [135]:
df_res_grouped.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

In [137]:
df_res_grouped.to_pickle('toronto.pkl')

In [136]:
df_res_grouped.shape

(103, 3)