In [1]:
import numpy as np
import pandas as pd

In [2]:
df_res_grouped = pd.read_pickle('toronto.pkl')

In [10]:
postcodes = pd.read_csv('Geospatial_Coordinates.csv')
postcodes.rename(columns={'Postal Code': 'Postcode'}, inplace=True)

In [27]:
df_res_grouped['Postcode'].head()

0    M1B
1    M1C
2    M1E
3    M1G
4    M1H
Name: Postcode, dtype: object

In [28]:
postcodes['Postcode'].head()

0    M1B
1    M1C
2    M1E
3    M1G
4    M1H
Name: Postcode, dtype: object

In [17]:
df_post = df_res_grouped.merge(postcodes, left_on='Postcode', right_on='Postcode')

In [24]:
df_post[df_post['Postcode'] == 'M1B']

  Postcode      Borough   Neighbourhood   Latitude  Longitude
0      M1B  Scarborough  Rouge, Malvern  43.806686 -79.194353

In [25]:
postcodes[postcodes['Postcode'] == 'M1B']

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353

In [26]:
df_post.to_pickle('toronto_ll.pkl')